body {
  background-color: #282c34;
  text-align: center;
}

.show-card {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.show-tarot-card {
  border-radius: 10px;
  height: 90vmin;
  width: auto;
  object-fit: contain;
  will-change: transform, opacity;
}
