body {
  background-color: #282c34;
  text-align: center;
}

.show-card {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.show-tarot-card {
  border-radius: 10px;
  height: 60vh;
  width: auto;
  object-fit: contain;
  will-change: transform, opacity;
}

.interpretations {
  padding-left: 5vmin;
  padding-right: 5vmin;
  padding-bottom: 5vmin;
}