.tarot-sides-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vmin;
}

.tarot-image {
  position: relative;
  height: 90vmin;
  border-radius: 10px;
}

.tarot-card {
  position: absolute;
  border-radius: 10px;
  will-change: transform, opacity;
}