.tarot-sides-container {
  display: flex;
  justify-content: center;
  height: 90vmin;
}

.tarot-card {
  position: absolute;
  border-radius: 10px;
  height: 90vmin;
  width: auto;
  object-fit: contain;
  will-change: transform, opacity;
}
